/* Helpers */

/* Helper: Hidden */
.hidden {
  display:none;
}

body {
  background-image:none !important;
  font-family: Arial, sans-serif !important;
  text-align:left !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Layout */
.page-banner,
.banner-inner,
.page-header-content,
.page-menu-top,
.page-content,
.footer-inner{
  margin:0 auto;
  max-width:100%;
  width:1200px;
}

.banner-inner,
.page-header-content {
    display: inline-block;
    vertical-align: middle;
}

.banner-inner {
    float:left;
    width: auto;
    text-align: left;
}

.page-header-content {
    float:right;
    width: auto;
    text-align: right;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

 /* layoutCmsbdy */

 #layoutCmsbdy {
     display: none;
 }

/* Template: Off Canvas Menu */
.content-wrapper{
  position: relative;
  overflow:hidden;
  width:100%;
  min-height:100vh;
}

.off-canvas-content{
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.off-canvas-menu{
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -300px;
  background: #f3f3f3;
  z-index:9999;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.off-canvas-overlay{
  display:none;
  position:fixed;
  height:100%;
  width:100%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  z-index:8888;
}

.show-nav .off-canvas-menu,
.show-nav .off-canvas-content,
.show-nav .off-canvas-overlay{
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}

.show-nav .off-canvas-content{
  opacity:0.5;
}

.show-nav .off-canvas-overlay{
  display:block;
}

.show-nav .off-canvas-menu{
  box-shadow:0 0 10px rgba(0,0,0,.25);
}

/* Template: page-menu-top */
.page-menu-top {
    background-color: #000;
    text-align: left;
}

.page-menu-top span {
    display: inline-block;
}

.page-menu-top a {
    color: #ffffff;
    font-size: 16px;
    line-height: 52px;
    text-decoration: none;
    margin: 0 22px 0 24px;
    font-weight: 600;
    display: inline-block;
    position: relative;
}

.page-menu-top a:hover {
    text-decoration: underline;
}

.page-menu-mobile {
    display: none;
}

/* Header: topbanner-texts */
.topbanner-texts {
    margin-top: 50px;
}

.topbanner-texts li {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin-right: 27px;
}

.topbanner-texts li i {
    color: #ebdc06;
    font-size: 14px;
    margin-right: 4px;
}

/* Header: basket detailed */

#BasketdetailedBox {
    margin-right: 30px;
    margin-top: 35px;
}

#BasketdetailedBoxbdy {
    background-image: url('/images/editor/Responsive/basket_bg.png');
    background-repeat: no-repeat;
    min-height: 42px;
    text-align: left;
    padding-left: 68px;
    margin-left: 43px;
    position: relative;
}

#BasketdetailedBoxbdy .c1 {
    display: none;
}

#BasketdetailedBoxbdy .c2 {
    color: #333333;
    font-size: 12px;
    margin-top: 7px;
}

#BasketdetailedBoxbdy input.Basket {
    background-color: transparent;
    border: medium none;
    text-decoration: underline;
    cursor: pointer;
    width: auto;
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}

#BasketdetailedBoxbdy > span.item-amount {
    position: absolute;
    left: 20px;
    top: -8px;
    display: block;
    background-color: #10192e;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    font-family: arial;
    border-radius: 50%;
    width: 27px;
    line-height: 26px;
    text-align: center;
}

/* Menu: yellow bar */

.yellow-bar {
    height: 8px;
    background-color: #fbed20;
    position: relative;
}

.menu-pointer {
    text-decoration: inherit;
    position: absolute;
    bottom: -6px;
    color: #fbed20;
    font-size: 20px;
}

.yellow-bar:before {
    /*content: "\f0d8";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    top: -14px;
    left: 46px;
    color: #fbed20;
    font-size: 20px;*/
}

/* Footer: footer */

.footer-inner {
    background-color: #000000;
    padding: 22px 0;
    margin-top: 75px;
}

.footer-inner,
.footer-inner a {
    font-size: 16px;
    color: #efeeee;
    font-family: arial;
}

/* Page: content */

.page-content-pane,
.page-content-pane span,
.page-content-pane a {
    color: #333333 !important;
    font-size: 13px !important;
    font-weight: 300;
    font-family: arial;
}

.page-content-pane a {
    text-decoration: underline;
}

/* Page: frontpage */

.frontpage-content > div.product-image,
.frontpage-content > div.product-info {
    display: inline-block;
    width: auto;
    vertical-align: top;
    margin: 10px 0 0 0;
}

.frontpage-content > div.product-info > span,
.frontpage-content > div.product-info > a {
    display: inline-block;
    margin-left: 30px;
}

.frontpage-content > div.product-info > span.small-text {
    color: #333333 !important;
    font-size: 48px !important;
    font-family: arial;
    margin-top: 55px;
}

.frontpage-content > div.product-info > span.price {
    color: #333333 !important;
    font-size: 48px !important;
    font-family: arial;
    font-weight: bold;
    margin-top: 55px;
    margin-left: 10px;
}

.frontpage-content > div.product-info > span.paragraph-text {
    display: block;
    color: #666666 !important;
    font-size: 23px !important;
    font-family: arial;
    margin: 10px 0 56px 32px;
}

.frontpage-content > div.product-info > a {
    background-color: #000;
    border-radius: 8px;
    display: block;
    width: 579px;
    color: #fbed20 !important;
    font-size: 36px !important;
    font-family: arial;
    text-decoration: none;
    text-align: center;
    line-height: 92px;
    background-image: url('/images/editor/Responsive/Product_cart.png');
    background-repeat: no-repeat;
    background-position: 13% center;
    padding-left: 20px;
}

.frontpage-boxes {
    border-top: solid 1px #bfbfbf;
    border-left: solid 1px #bfbfbf;
    width: 99.99%;
    margin-top: 50px;
}

.frontpage-boxes .container {
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    width: 33.33%;
    background-color: #f6f6f6;
    border-right: solid 1px #bfbfbf;
    border-bottom: solid 1px #bfbfbf;
    min-height: 124px;

}

.frontpage-boxes .container i {
    color: #ebdc06;
    font-size: 48px;
    margin: 15px 0 5px;
}

.frontpage-boxes .container span {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    color: #333333 !important;
    font-size: 18px !important;
    font-weight: bold;
    font-family: arial;
    padding: 0px 5px;
    vertical-align: top;
}

.about-text p {
    color: #666666 !important;
    font-size: 16px !important;
    font-family: arial;
    text-align: center;
    margin-top: 60px;
    display: block;
}

.about-text a {
    color: #666666 !important;
    font-size: 16px !important;
    font-family: arial;
    text-decoration: underline;
}

/* Page: product-info */

.product-info-container {
    margin-top: 50px;
}

.product-info-container > div.product-images,
.product-info-container > div.product-info {
    display: inline-block;
    vertical-align: top;
}

.product-info-container > div.product-images {
    margin-right: 94px;
}

.product-info-container > div.product-info h1 {
    color: #333333;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    display: block !important;
}

.product-info-container > div.product-info .product-id {
    color: #666666;
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
    display: block;
    font-weight: normal;
}

.product-info-container > div.product-info .etPrice span,
.product-info-container > div.product-info .etPrice b {
    color: #333333 !important;
    font-size: 18px !important;
    margin: 0;
    margin-bottom: 5px;
    display: inline-block;
    min-width: 145px;
}

.product-info-container > div.product-info .product-desc,
.product-info-container > div.product-info .product-desc p,
.product-info-container > div.product-info .product-desc span,
.product-info-container > div.product-info .product-desc a {
    color: #666666 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

.product-info-container > div.product-info .product-desc a {
    text-decoration: underline;
}

.product-info-container > div.product-info .etBasket select {
    border: solid 1px #bfbfbf;
    border-radius: 8px;
    min-width: 392px;
    line-height: 61px;
    height: 61px;
    color: #666666;
    font-size: 18px;
    margin-top: 20px;
    padding-left: 10px;
    cursor: pointer;
}

.product-info-container > div.product-info .etBasket span.ecBB a {
    background-color: #000;
    border-radius: 8px;
    display: block;
    width: 392px;
    color: #fbed20 !important;
    font-size: 36px !important;
    font-family: arial;
    text-decoration: none;
    text-align: center;
    line-height: 92px;
    background-image: url('/images/editor/Responsive/Product_cart.png');
    background-repeat: no-repeat;
    background-position: 13% center;
    padding-left: 60px;
    margin: 10px 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.product-info-container > div.product-info .etBasket span.ecBB a:before {
    content: "Køb fyringsolie";
}

.product-info-container > div.product-info .etBasket span.ecBB a img {
    display: none !important;
}

.product-info-container > div.product-info .etBasket_Footer,
.product-info-container > div.product-info .etBasket_Footer span {
    font-size: 16px !important;
    color: #666666 !important;
}

.product-info-container > div.product-info .etBasket_Footer span {
    font-weight: bold;
}

.product-info-container > div.product-info .etBasket_Footer b {
    font-weight: bold;
    color: #333333;
    font-style: italic;
}

/* Page: contentCmstext */

#contentCmstext,
#ec52 {
    margin-top: 20px;
}

/* Basket: step 1 */

.ec32Table .c3,
.ec32Table .c6 {
    display: none;
}

.basket-top h1 {
    float: left;
    color: #333333;
    font-size: 36px;
    font-weight: bold;
}

.basket-top .basket-next {
    float: right;
}

.basket-bottom > div {
    float: right;
}

.basket-bottom > div.basket-prev {
    float: left;
}

.basket-top .basket-next input,
.basket-bottom .basket-next input {
    background-color: #000;
    border-radius: 6px;
    display: block;
    width: 160px;
    color: #fbed20 !important;
    font-size: 18px !important;
    font-family: arial;
    text-decoration: none;
    text-align: center;
    line-height: 42px;
    margin: 25px 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: medium none;
    cursor: pointer;
}

.basket-bottom .basket-clear input,
.basket-bottom .basket-update input,
.basket-bottom .basket-prev input {
    background-color: #eee;
    border-radius: 6px;
    display: block;
    width: 160px;
    color: #000 !important;
    font-size: 16px !important;
    font-family: arial;
    text-decoration: none;
    text-align: center;
    line-height: 42px;
    margin: 25px 10px 20px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: medium none;
    cursor: pointer;
}

.basket-details #ec32 .ec32Table .c9 {
    width: 50px;
    text-align: center;
}

.basket-details #ec32 .ec32Table .c8 {
    width: 100px;
    text-align: right;
}

.basket-totals #ec38 {
    text-align: right;
}

.basket-totals .ec38TableTotals {
    margin: 0 45px 0 auto;
}

.basket-totals .ec38TableTotals td,
.basket-totals .ec38TableTotals td span {
    font-size: 12px !important;
}

.basket-totals .ec38TableTotals .c1 {
    text-align: left !important;
    width: 146px;
}

.basket-totals .ec38TableTotals .ec38Total td,
.basket-totals .ec38TableTotals .ec38Total td span {
    font-weight: bold !important;
    font-size: 16px !important;
}

/* Basket: step 3 */

.basket-step3 .basket-top h1 {
    display: block;
    width: 100%;
}

.basket-step3 .basket-bottom .basket-next input {
    width: 230px;
}

.basket-content .payment-address-info,
.basket-content .delivery-address-info {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.basket-content table td:first-child {
    width: 120px;
    font-weight: bold;
    padding: 8px 0;
}

.basket-content table td input,
.basket-content table td select {
    line-height: 28px;
    height: 28px;
    color: #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
    width: 100%;
}

.order-remarks select,
.order-remarks input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 240px;
    padding: 2px;
    line-height: 28px;
    height: 28px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.order-remarks textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 240px;
    padding: 2px;
    margin-bottom: 10px;
    min-height: 80px;
}

.order-remarks {
    margin-bottom: 20px;
}

.basket-step4 .basket-totals .ec38TableTotals {
    margin: 0 0 0 auto;
}

/* Page: user reviews */

.fulluserReviewHead {
    color: #333333;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    display: block !important;
}

.fullreview {
    max-width: 320px;
    margin: 20px 0 30px;
}

.fullreviewMainRow {
    color: #333333;
    font-size: 12px;
    font-style: normal;
}

.fullreviewStars {
    margin-top: 10px;
}

/* less than 1200px: smaller desktop screens */
@media (max-width: 1200px){

    /* Layout */
    .page-banner,
    .banner-inner,
    .page-header-content,
    .page-menu-top,
    .page-content,
    .footer-inner{
      margin:0 auto;
      max-width:100%;
      width:100%;
    }

    /* Page: content */
    .page-content-pane {
        padding: 15px;
    }

    /* Header */
    .page-banner {
        text-align: center;
    }

    .banner-inner,
    .page-header-content {
        text-align: center;
    }

    .page-header-content {
        width: auto;
        text-align: center;
        margin: 0 auto 20px auto;
        float:none;
    }

    #BasketdetailedBox {
        margin-top: 5px;
        margin-right: 0px;
    }

    .topbanner-texts {
        margin-top: 20px;
    }

    /* Page: product-info */

    .product-info-container > div.product-images {
        width: 35%;
        margin-right: 0;
        padding-right: 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .product-info-container > div.product-images img {
        max-width: 100% !important;
        height: auto;
    }

    .product-info-container > div.product-info {
        width: 65%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

}

@media (max-width: 1100px){

    /* Topmenu: links */
    .page-menu-top a {
        font-size: 14px;
        margin: 0 22px 0 24px;
    }

    .yellow-bar:before {
        left: 44px;
    }

}

/* Tablet */
@media (max-width: 1024px){

    #BasketdetailedBox,
    .yellow-bar:before,
    #ddMenu {
        display: none;
    }

    /* Page: frontpage */

    .frontpage-content > div.product-info > span.small-text,
    .frontpage-content > div.product-info > span.price {
        font-size: 33px !important;
    }

    .frontpage-content > div.product-info > span.paragraph-text {
        font-size: 16px !important;
        margin: 10px 0 26px 32px;
    }

    .frontpage-content > div.product-info > a {
        width: 90%;
        line-height: 72px;
        font-size: 26px !important;
        background-position: 6% center;
        background-size: 45px 34px;
    }

    .frontpage-content > div.product-image {
        max-width: 40%;
    }

    .frontpage-content > div.product-info {
        max-width: 60%;
    }

    .frontpage-content > div.product-image img {
        max-width: 100%;
    }

    /* Menu: tablet/mobile */
    .page-menu-mobile {
        display: block;
    }

    .page-menu-top a {
        line-height: normal;
    }

    .page-menu-mobile li {
        display: inline-block;
        width: 50%;
        text-align: center;
        vertical-align: middle;
        height: 52px;
    }

    .page-menu-mobile li a.toggle-basket,
    .page-menu-mobile li a.toggle-nav {
        margin-top: 10px;
        display: block;
    }

    .page-menu-mobile li i,
    .page-menu-mobile li span {
        font-size: 30px;
    }

    .page-menu-mobile li span {
        font-size: 20px;
    }

    .element-mini-mobile-basket {
        position: relative;
    }

    .page-menu-mobile li span.element-mini-mobile-basket-total {
        position: absolute;
        right: -12px;
        top: -7px;
        display: block;
        background-color: #ebdc06;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        font-family: arial;
        border-radius: 50%;
        width: 25px;
        line-height: 25px;
        text-align: center;
    }

    /* Offcanvas: Bannner  */

    .banner-offcanvas {
        display: block;
        text-align: center;
        width: 100%;
        margin: 10px 0;
    }

    /* Menu: info-menu-left */

    .info-menu-left li a {
        margin: 5px 15px;
        color: #333333;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        height: 35px;
        line-height: 35px;
    }

}

/* Mobile */
@media (max-width: 700px){

    /* Page: user reviews */

    .fulluserReviewHead {
        font-size: 30px;
    }

    /* Page: frontpage */

    .page-banner {
        max-height: 95px;
    }

    .frontpage-content > div.product-image img,
    .topbanner-texts {
        display: none;
    }

    .frontpage-content > div.product-info > span.small-text,
    .frontpage-content > div.product-info > span.price {
        margin-top: 10px;
        font-size: 26px !important;
        display: block;
    }

    .frontpage-content > div.product-info > span.paragraph-text {
        font-size: 12px !important;
        margin: 10px 0 30px 0px;
    }

    .frontpage-content > div.product-image,
    .frontpage-content > div.product-info {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .frontpage-content > div.product-info > a {
        margin: 0 auto;
        width: 95%;
        font-size: 22px !important;
        line-height: 62px;
        background-size: 35px;
        background-position: 10% center;
    }

    .frontpage-content > div.product-info > span {
        margin: 0;
    }

    .frontpage-boxes .container {
        display: inline-block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        background-color: #f6f6f6;
        border-right: solid 1px #bfbfbf;
        border-bottom: solid 1px #bfbfbf;
        min-height: 124px;
    }

    .frontpage-content > div.product-image,
    .frontpage-content > div.product-info {
        max-width: 100%;
    }

    /* Topbanner: texts */

    .topbanner-texts li {
        display: block;
        text-align: center;
        margin: 0 0 6px 0;
    }

    /* Page: product-info */

    .product-info-container > div.product-images,
    .product-info-container > div.product-info .product-desc h4 {
        display: none;
    }

    .product-info-container {
        margin-top: 0px;
    }

    .product-info-container > div.product-info,
    .product-info-container > div.product-images {
        width: 100%;
        padding: 0;
        margin: 0 0 20px;
    }

    .product-info-container > div.product-info .etBasket select {
        min-width: 0;
        width: 100%;
    }

    .product-info-container > div.product-info .etBasket span.ecBB a {
        width: 100%;
        font-size: 22px !important;
        line-height: 62px;
        background-size: 35px;
        background-position: 10% center;
        padding: 0;
    }

    .product-info-container > div.product-info h1 {
        font-size: 16px;
    }

    .product-info-container > div.product-info .product-id {
        font-size: 10px;
        margin-bottom: 5px;
        font-style: italic;
    }

    .product-info-container > div.product-info .product-desc p,
    .product-info-container > div.product-info .product-desc span {
        font-size: 10px !important;
    }

    .product-info-container > div.product-info .etBasket select {
        margin-top: 0px;
    }

    .product-info-container > div.product-info .etPrice span,
    .product-info-container > div.product-info .etPrice b {
        font-size: 14px !important;
        margin-bottom: 0;
    }

    .about-text p,
    .about-text a {
        font-size: 10px !important;
        margin-top: 10px;
    }

    /* Basket: step 1 */

    .basket-top .basket-next input,
    .basket-totals .ec38TableTotals td.c3 {
        display: none;
    }

    .basket-bottom > div,
    .basket-bottom > div.basket-prev {
        float: none;
    }

    .basket-bottom .basket-clear input,
    .basket-bottom .basket-update input,
    .basket-bottom .basket-prev input,
    .basket-bottom .basket-next input {
        margin: 10px 0;
        width: 100%;
    }

    .basket-totals .ec38TableTotals {
        margin: 25px 0 20px 0;
    }

    .basket-totals .ec38TableTotals td {
        width: 50%;
    }

    /* Basket: step 3 */

    .basket-step3 .basket-bottom .basket-next input {
        width: 100%;
    }

    .basket-content .payment-address-info,
    .basket-content .delivery-address-info {
        width: 100%;
    }

    .basket-step3 .basket-top h1 {
        font-size: 24px;
    }

}
