<!-- template: page-variables -->
<div class="hidden page-variables">

  <eSeller:Container ContainerName="page-variables" CssId="#pageVariables" />

</div>
<!-- template: page-variables -->

<!-- template: content-wrapper -->
<div class="content-wrapper">

  <!-- template: off-canvas-menu -->
  <div class="off-canvas-menu">

  </div>
  <!-- /template: off-canvas-menu -->

  <!-- template: off-canvas-overlay -->
  <a href="#" class="off-canvas-overlay toggle-nav"></a>
  <!-- /template: off-canvas-overlay -->

  <!-- template: off-canvas-content -->
  <div class="off-canvas-content">

    <!-- template: page-header -->
    <div class="page-header clearfix">

      <!-- template: page-banner -->
      <div class="page-banner clearfix">

        <div class="banner-inner clearfix">

          <img src="/images/editor/Responsive/topbanner.png" alt="" class="page-topbanner" />

        </div>

        <!-- template: page-header-content -->
        <div class="page-header-content clearfix">

          <eSeller:Container ContainerName="headerContent" CssId="#headerContent" />

        </div>
        <!-- /template: page-header-content -->

      </div>
      <!-- /template: page-banner -->

      <!-- template: page-menu-top -->
      <div class="page-menu-top">

        <eSeller:Container ContainerName="topMenu" CssId="#topMenu" />

      </div>
      <!-- /template: page-menu-top -->

    </div>
    <!-- /template: page-header -->

    <!-- template: page-content -->
    <div class="page-content content-full">

      <!-- template: page-content-pane -->
      <div class="page-content-pane">

        <eSeller:Content ContainerName="content" CssId="#tblContent .contentPane" />

      </div>
      <!-- template: page-content-pane -->

    </div>
    <!-- template: page-content -->

    <!-- template: page-footer -->
    <div class="page-footer">

      <div class="footer-inner">
        <eSeller:Container ContainerName="bottomPane" CssId="#bottom" ContainerType="ShopBottom" AllowShopElements="False" />
      </div>

    </div>
    <!-- /template: page-footer -->

  </div>
  <!-- /template: off-canvas-content -->


</div>
<!-- /template: content-wrapper -->
